* {
	font-family: "Roboto", sans-serif;
	border-radius: 7px;
}

html {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%
}

main {
	text-align: center;
}

form {
	margin-top: 50px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form-inputs {
	margin-left: 5px;
	padding-left: 5px;
}

.song-key {
	width: 35px;
}

.song-tempo {
	width: 35px;
}

button {
  border-radius: 5px;
  border: 0;
  width: 80px;
  height:25px;
  margin-top: 14px;
  background-color: rgba(255, 255, 255, 0.72);
}

.setlist {
  text-align: left;
  margin: 40px auto;
  max-width: 350px;
  background-color: rgba(104, 107, 112, 0.8);
  color: black;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.delete-button {
	width: 17px;
	vertical-align: text-top;
	margin-left: 5px;
	margin-right: 5px;
}

.rearrange-handle {
  width: 17px;
  vertical-align: text-top;
  margin-left: 5px;
  margin-right: 5px;
}

.edit-button {
	width: 17px;
	vertical-align: text-top;
	margin-left: 5px;
}

.track {
	display: inline-block;
}