* {
	font-family: "Roboto", sans-serif;
	border-radius: 7px;
}

html {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%
}

main {
	text-align: center;
}

form {
	margin-top: 50px;
}

.form-inputs {
	margin-left: 5px;
}

.song-key {
	width: 35px;
}

.song-tempo {
	width: 35px;
}

button {
  border-radius: 5px;
  border: 0;
  width: 80px;
  height:25px;
  margin-top: 7px;
  background-color: rgba(255, 255, 255, 0.72);
}

.setlist {
	text-align: left;
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(104, 107, 112, 0.8);
  color: black;
  min-width: 350px;
  height: 70%;
  margin-top: 5px;
}

.delete-button {
	width: 17px;
	vertical-align: text-top;
	margin-left: 5px;
}

.edit-button {
	width: 17px;
	vertical-align: text-top;
	margin-left: 5px;
}

.tracks {
	padding-left: 15px;
}

.track {
	display: inline-block;
}