* {
	font-family: "Roboto", sans-serif;
	border-radius: 7px;
}

html {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%
}

.setlist {
	background-color: rgba(104, 107, 112, 0.8);
	color: white;
	width: 500px;
  position: absolute;
  left: 40%;
  top: 50%;
  margin: -100px 0 0 -150px;
}

.tracks {
	padding-left: 10px;
}

.buttons {
	text-align: center;
	padding: 5px;
}

button {
	min-width: 130px;
}